@model BeautySalon.Data.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Услуга</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Име</label>

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <label>Цена</label>

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>


        <dt class="col-sm-2">
            <label>Описание</label>
        </dt>
        <dd class="col-sm-10">
            <p> @Html.DisplayFor(model => model.Description)</>
        </dd>
        <dt class="col-sm-2">
            <label>Снимка</label>

        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.URLimages)" width="150" height="180" />
        </dd>
        <dt class="col-sm-2">
            <label>Дата</label>

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateRegister)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактиране</a> |
    <a asp-action="IndexMakeUp">Връщане назад</a>
</div>
